.box-error {
  background-color: rgb(252, 29, 29);
  /* position: relative; */
  border-radius: 10px;
  border-color: rgb(210, 40, 40);
  box-shadow: 10px;
  width: 60%;
  height: 60px;
  margin-left: 140px;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-shadow: 10px;
}
